.formLabelClass{
    padding-right: 5%;
    padding-left: 5%;
    height: 50px;
    vertical-align: middle;
 }
 .formControlClass{
     height: 50px;
     vertical-align: middle;
  }
  
  form input {
      width: 50%;
  }
 
 .abc  {
     width: 35px;
     height: 30px;
     padding-left: 8px;
   }
 
   .abc mat-icon{
       color: blue;
   }
   .abcd {
       margin-top: 5px;
     width: 35px;
     height: 32px;
      margin-bottom: 10px;
 
      }
  
  .errorClass{
      color: red;
  }